In [7]:
import pandas as pd
import numpy as np

Creates random binary data

In [8]:
shape = (3000, 5)
data = np.random.choice([0,1,2,3,4,5], size=shape)

In [9]:
df = pd.DataFrame(
    data,
    columns=[f"f{i}" for i in range(shape[1])]
)

Defines the target as a XOR of the features F1 and F2. This implies on the irrelevance of the remaining features

In [12]:
df["target"] = ((df["f1"] > 3) & (df["f2"] < 2)).astype(int)

In [13]:
df

      f0  f1  f2  f3  f4  target
0      5   2   5   4   4       0
1      2   4   2   5   5       0
2      0   1   1   1   0       0
3      3   5   4   4   4       0
4      5   1   5   4   1       0
...   ..  ..  ..  ..  ..     ...
2995   3   5   1   3   1       1
2996   2   2   1   4   0       0
2997   2   5   0   5   0       1
2998   0   3   4   2   1       0
2999   0   4   2   3   4       0

[3000 rows x 6 columns]

In [14]:
df.to_csv("../data/synthetic_dataset.csv", index=False)